body{
    background-color: #E0FFFF;
    height: 800px;}

#header{ 
    color:white;
    text-align:center;
    background-color: black;
    height: 40px;


}
#upload{
    padding: 10px 10px 10px 100px;
    float :left;
}
#posts{
       
    padding: 10px 100px 10px 10px;
}
#Post{
    position: absolute;
    top:133px;
    right:90px;

}
.PostBox{
    width: 445px;
    padding:50px;
    margin-bottom:4px;
    background-color: black;
    border-radius: 4px;
    color:white;

}
#logout{
    padding-right:20px;
    color:black;
}

