body
{
    background-color: #E0FFFF;
    height: 800px;

}

#container
{
    text-align: center;
    margin-top: -21px;
}

.header{
    color:white;
    background-color: black;
    height: 40px;
    margin-top: 0px;

}

#acceptdecline{
    margin: right;
    width: 242px;
    height: 251px;
    float: right;
    



}

#bottominfo{
    margin: bottom;
    width: 100%;
    height: 10%;
    padding-right: 5px;
    

}

.topnav{
    text-align: center;
}
 .topnav a{
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
 }

 .row{
     
    margin-right: -15px;
    margin-left: -15px;
    margin: auto;
    line-height: 3px;
    box-sizing: border-box;
    display: block;
    float: none;
    height: 800px;
    width: 1200px;
    position: static;
    z-index: auto;
    background-color: #E0FFFF;
    
    }



.col-lg-6{

    width: 1200PX;
    height: 780px;
    margin: auto;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;

}
.frame{
 
 width: 100%;
 height: 75%;
 margin-top: 5px;
 padding: 20px;
 border: 1px solid #DCDBDB;
 border-radius: 10px;
 margin-bottom: 20px;
 box-sizing: border-box;

}

.button{
    size: 10px;
}

h2{
    text-align: center;

    color: white;
}

.box {
    float: left;
    height: 20px;
    width: 20px;
    margin-bottom: 15px;
    border: 1px solid black;
    clear: both;
    margin-top: -11px;
  }
  
  .red {
    background-color: red;
    display: inline-block;
  }
  
  .green {
    background-color: green;
  }
  
  .purple {
    background-color: rgb(179, 76, 219);
  }

  p{
    text-align: left;
    margin-left: 32px;
    line-height: 0px;
    width: 200px;
  }


  #mapid{
    position: fixed;
    margin-left: 323px;
    height: 600px;
    width: 306px;
    left: 0px;
    bottom: 175px;
  }

  .displayweather{
    background-color: lightskyblue;
    color: lightcyan;
    text-align: center;
    position: fixed;
    margin-right: 5%;
    height: 600px;
    width: 400px;
    right: 0px;
    top: 175px;
    border-radius: 80px;
  }

  #desc
  {
    width: 100%;
  }

  .wbutton
  {
    border-radius: 20px;
    background-color: lightcyan;
  }

  #weatherday
  {
    background-color: lightcyan;
  }

  #wTitle
  {
    color: lightcyan;
  }

  img{
    margin-bottom: 100px;
    width: 10px;
    height: 15px;

  }